In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Data.csv")
df.columns

Index(['First Name', 'Last Name', 'City', 'State', 'Zip Code',
       'DOB [DD/MM/YYYY]', 'Age', 'Gender', 'Email Address', 'Contact Number',
       'Emergency Contact Number', 'College name', 'University Name', 'Degree',
       'Major/Area of Study', 'Course Type', 'Which-year are you studying in?',
       'CGPA/ percentage', 'Expected Graduation-year', 'Areas of interest',
       'Current Employment Status', 'Have you worked core Java',
       'Programming Language Known other than Java (one major)',
       'Have you worked on MySQL or Oracle database',
       'Have you studied OOP Concepts',
       'Certifications/Achievement/ Research papers',
       'Rate your written communication skills [1-10]',
       'Rate your verbal communication skills [1-10]',
       'Link to updated Resume (Google/ One Drive link preferred)',
       'link to Linkedin profile', 'How Did You Hear About This Internship?',
       'Label'],
      dtype='object')

In [3]:
df.head()

,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,Contact Number,...,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Certifications/Achievement/ Research papers,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],Link to updated Resume (Google/ One Drive link preferred),link to Linkedin profile,How Did You Hear About This Internship?,Label
0,Barron,Harnes,Kolhapur,Maharashtra,416004,24-09-00,19,Male,bharnes0@harvard.edu,6345186600,...,HTML/CSS,Yes,No,NaN,6,10,NaN,NaN,Twitter,ineligible
1,Velma,Allone,Pune,Maharashtra,411011,23-10-97,22,Female,vallone1@i2i.jp,2808753102,...,PHP,No,Yes,NaN,10,7,NaN,NaN,Ex/Current Employee,eligible
2,Thibaut,Scotland,Mumbai,Maharashtra,400059,06-02-96,24,Male,tscotland2@opensource.org,2945231918,...,C,No,No,NaN,8,6,NaN,NaN,Twitter,ineligible
3,Retha,Proud,Solapur,Maharashtra,413224,26-12-99,20,Female,rproud3@flavors.me,7507196200,...,PHP,No,Yes,NaN,9,6,NaN,NaN,Twitter,ineligible
4,Del,Pearse,Sangli,Maharashtra,416436,21-09-96,23,Female,dpearse4@sakura.ne.jp,6643884281,...,Python,No,Yes,NaN,8,6,NaN,NaN,Facebook,ineligible

In [4]:
# Null values sorted in descending order
((df.isnull().sum()/len(df))*100).sort_values(ascending=False)

link to Linkedin profile                                     100.0
Link to updated Resume (Google/ One Drive link preferred)    100.0
Certifications/Achievement/ Research papers                  100.0
Label                                                          0.0
Age                                                            0.0
College name                                                   0.0
Emergency Contact Number                                       0.0
Contact Number                                                 0.0
Email Address                                                  0.0
Gender                                                         0.0
Zip Code                                                       0.0
DOB [DD/MM/YYYY]                                               0.0
Degree                                                         0.0
State                                                          0.0
City                                                           0.0
Last Name                                                      0.0
University Name                                                0.0
Course Type                                                    0.0
Major/Area of Study                                            0.0
How Did You Hear About This Internship?                        0.0
Which-year are you studying in?                                0.0
CGPA/ percentage                                               0.0
Expected Graduation-year                                       0.0
Areas of interest                                              0.0
Current Employment Status                                      0.0
Have you worked core Java                                      0.0
Programming Language Known other than Java (one major)         0.0
Have you worked on MySQL or Oracle database                    0.0
Have you studied OOP Concepts                                  0.0
Rate your written communication skills [1-10]                  0.0
Rate your verbal communication skills [1-10]                   0.0
First Name                                                     0.0
dtype: float64

# Cleaning Data

In [5]:
df=df.drop(["Email Address"],axis=1)
df=df.drop(["First Name"],axis=1)
df=df.drop(["Last Name"],axis=1)
df=df.drop(["Zip Code"],axis=1)
df=df.drop(["Contact Number"],axis=1)
df=df.drop(["Emergency Contact Number"],axis=1)
df=df.drop(["University Name"],axis=1)
df=df.drop(["Degree"],axis=1)
df=df.drop(["Course Type"],axis=1)
df=df.drop(["Current Employment Status"],axis=1)
df=df.drop(["Expected Graduation-year"],axis=1)
df=df.drop(["State"],axis=1)
df=df.drop(["Certifications/Achievement/ Research papers"],axis=1)
df=df.drop(["DOB [DD/MM/YYYY]"],axis=1)
df=df.drop(["Link to updated Resume (Google/ One Drive link preferred)"],axis=1)
df=df.drop(["link to Linkedin profile"],axis=1)

In [6]:
# Check the data agian for null values
df.isnull().sum()

City                                                      0
Age                                                       0
Gender                                                    0
College name                                              0
Major/Area of Study                                       0
Which-year are you studying in?                           0
CGPA/ percentage                                          0
Areas of interest                                         0
Have you worked core Java                                 0
Programming Language Known other than Java (one major)    0
Have you worked on MySQL or Oracle database               0
Have you studied OOP Concepts                             0
Rate your written communication skills [1-10]             0
Rate your verbal communication skills [1-10]              0
How Did You Hear About This Internship?                   0
Label                                                     0
dtype: int64

# Encoding Label

In [7]:
lbl=df["Label"].tolist()
x=[]
for i in range(0,len(lbl)):
    if lbl[i]=='eligible':
        x.append(1)
    else:
        x.append(0)

In [8]:
Label=pd.DataFrame({"Label":x})
df=df.drop(["Label"],axis=1)
df=pd.concat([df,Label],axis=1,sort=False)

In [9]:
df

,City,Age,Gender,College name,Major/Area of Study,Which-year are you studying in?,CGPA/ percentage,Areas of interest,Have you worked core Java,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],How Did You Hear About This Internship?,Label
0,Kolhapur,19,Male,DY Patil College of Engineering And Technology,Electrical Engineering,Second-year,7.26,Artificial Intelligence,Yes,HTML/CSS,Yes,No,6,10,Twitter,0
1,Pune,22,Female,Vishwakarma Institute of Information Technology,Electronics and Telecommunication,Fourth-year,8.73,Cloud Computing,Yes,PHP,No,Yes,10,7,Ex/Current Employee,1
2,Mumbai,24,Male,Vidyalankar Institute of Technology,Electrical Engineering,Fourth-year,8.61,IoT,Yes,C,No,No,8,6,Twitter,0
3,Solapur,20,Female,Brahmdevdada Mane Institute of Technology,Computer Engineering,Second-year,7.96,Digital Marketing,No,PHP,No,Yes,9,6,Twitter,0
4,Sangli,23,Female,Rajarambapu Institute of Technology,Electrical Engineering,First-year,7.07,Cloud Computing,No,Python,No,Yes,8,6,Facebook,0
5,Sangli,20,Male,Rajarambapu Institute of Technology,Electrical Engineering,Fourth-year,9.35,Python,Yes,PHP,Yes,No,6,7,Twitter,0
6,Solapur,20,Female,Skn Sinhgad College of Engineering,Electronics and Telecommunication,Third-year,8.31,QMS/Testing,Yes,PHP,Yes,No,10,7,Facebook,1
7,Kolhapur,21,Female,Bharati Vidyapeeth College of Engineering,Electronics and Telecommunication,Third-year,9.21,Data Science,No,C++,No,Yes,9,9,Newspaper,1
8,Mumbai,20,Male,St. Francis Institute of Technology,Computer Engineering,Fourth-year,9.91,QMS/Testing,No,C++,Yes,Yes,9,10,Other,1
9,Kolhapur,22,Male,DY Patil College of Engineering And Technology,Electronics and Telecommunication,Fourth-year,7.48,IoT,Yes,.Net,No,Yes,10,10,Blog post,0
10,NaviMumbai,21,Female,Pillai College of Engineering,Computer Engineering,First-year,7.25,Machine Learning,No,Python,Yes,No,8,10,Intern,0
11,NaviMumbai,21,Male,Ramrao Adik Institute of Technology,Electrical Engineering,Second-year,7.27,Blockchain,No,JavaScript,No,No,10,7,Newspaper,0
12,Sangli,21,Female,Rajarambapu Institute of Technology,Computer Engineering,Fourth-year,8.27,RPA,No,PHP,Yes,No,8,6,Other,0
13,Solapur,23,Male,Brahmdevdada Mane Institute of Technology,Computer Engineering,Fourth-year,8.70,Digital Marketing,No,HTML/CSS,No,Yes,10,7,Newspaper,1
14,NaviMumbai,24,Female,A. C. Patil College of Engineering,Electrical Engineering,Fourth-year,7.75,DevOps,Yes,HTML/CSS,No,Yes,8,8,Twitter,1
15,Solapur,21,Female,Brahmdevdada Mane Institute of Technology,Computer Engineering,Second-year,8.84,Big Data,No,Python,Yes,No,10,7,Twitter,1
16,NaviMumbai,19,Male,Ramrao Adik Institute of Technology,Computer Engineering,Fourth-year,9.21,QMS/Testing,No,C#,Yes,Yes,9,6,Other,0
17,Sangli,21,Male,Rajarambapu Institute of Technology,Computer Engineering,Fourth-year,9.82,Web Development,No,JavaScript,No,Yes,9,7,Intern,1
18,Solapur,19,Female,Brahmdevdada Mane Institute of Technology,Computer Engineering,Fourth-year,9.88,Web Development,No,C,Yes,No,6,10,Ex/Current Employee,0
19,Kolhapur,24,Female,Bharati Vidyapeeth College of Engineering,Electrical Engineering,First-year,8.40,QMS/Testing,No,.Net,Yes,Yes,6,8,LinkedIn,0
20,Sangli,23,Female,Rajarambapu Institute of Technology,Computer Engineering,First-year,8.56,Cyber Security,No,C,No,No,7,8,Other,0
21,Sangli,20,Male,Rajarambapu Institute of Technology,Computer Engineering,First-year,7.57,Blockchain,No,HTML/CSS,Yes,Yes,10,6,Friend,0
22,Pune,19,Male,Sinhgad College of Engineering,Computer Engineering,First-year,8.44,Cloud Computing,Yes,JavaScript,No,Yes,6,6,Twitter,0
23,Solapur,22,Male,Bharat Ratna Indira Gandhi College of Engineering,Electronics and Telecommunication,Third-year,8.61,Big Data,Yes,Python,No,Yes,8,8,Facebook,1
24,Sangli,23,Male,Rajarambapu Institute of Technology,Computer Engineering,Fourth-year,9.53,Cyber Security,Yes,C,No,No,10,8,Facebook,1
25,Sangli,21,Male,Rajarambapu Institute of Technology,Computer Engineering,First-year,7.22,Machine Learning,Yes,.Net,Yes,No,9,9,Ex/Current Employee,0
26,Sangli,21,Female,Rajarambapu Institute of Technology,Computer Engineering,Second-year,9.33,Machine Learning,No,.Net,No,No,7,10,Newspaper,1
27,NaviMumbai,23,Female,Pillai College of Engineering,Computer Engineering,Fourth-year,9.86,Artificial Intelligence,No,.Net,No,No,6,10,Newspaper,0
28,Mumbai,22,Female,K. J. Somaiya College of Engineering,Electronics and Telecommunication,Second-year,7.53,Cyber Security,No,Python,No,Yes,9,9,Intern,1
29,Mumbai,22,Female,K. J. Somaiya College of Engineering,Computer Engineering,Third-year,9.56,DevOps,Yes,C#,Yes,No,8,9,Newspaper,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,Sangli,19,Female,Rajarambapu Institute of Technology,Electrical Engineering,Third-year,7.49,Machine Learning,Yes,HTML/CSS,Yes,No,6,7,Facebook,0
9971,NaviMumbai,20,Male,A. C. Patil College of Engineering,Electrical Engineering,Fourth-year,9.48,RPA,No,C#,No,No,7,8,Other,1
9972,Solapur,20,Male,Brahmdevdada Mane Institute of Technology,Computer Engineering,Second-year,7.98,Big Data,No,Python,Yes,No,9,7,Newspaper,1
9973,Kolhapur,23,Male,DY Patil College of Engineering And Technology,Electrical Engineering,First-year,8.51,Cyber Security,Yes,C#,Yes,Yes,8,8,Blog post,0
9974,Sangli,20,Female,Rajarambapu Institute of Technology,Computer Engineering,Fourth-year,9.26,Mobility,No,HTML/CSS,No,Yes,6,10,Intern,0
9975,Sangli,19,Male,Rajarambapu Institute of Technology,Computer Engineering,Fourth-year,9.62,Data Science,No,JavaScript,No,Yes,6,7,Other,0
9976,Kolhapur,23,Male,DY Patil College of Engineering And Technology,Computer Engineering,Third-year,8.96,Artificial Intelligence,Yes,JavaScript,No,Yes,7,7,Intern,1
9977,Mumbai,20,Male,Rizvi College of Engineering,Electrical Engineering,Second-year,8.45,Data Science,Yes,HTML/CSS,Yes,Yes,8,10,Friend,1
9978,NaviMumbai,20,Male,Mahatma Gandhi Mission's College of Engineerin...,Electrical Engineering,First-year,7.45,Cloud Computing,Yes,PHP,Yes,No,9,7,Facebook,0
9979,NaviMumbai,21,Female,Karamveer Bhauro Patil College,Computer Engineering,First-year,7.64,Mobility,No,C,No,No,10,10,Other,0
9980,NaviMumbai,22,Male,Ramrao Adik Institute of Technology,Electronics and Telecommunication,Second-year,9.21,Mobility,No,.Net,No,No,7,8,Blog post,1
9981,Kolhapur,22,Female,Bharati Vidyapeeth College of Engineering,Computer Engineering,Fourth-year,8.88,IoT,Yes,C++,No,No,6,6,Other,0
9982,Mumbai,19,Male,Vidyalankar Institute of Technology,Computer Engineering,Second-year,7.29,Web Development,Yes,.Net,Yes,No,10,8,Twitter,0
9983,Solapur,22,Male,Skn Sinhgad College of Engineering,Electrical Engineering,Second-year,7.47,QMS/Testing,Yes,C,Yes,No,6,9,LinkedIn,0
9984,Pune,21,Female,Vishwakarma Institute of Information Technology,Computer Engineering,First-year,7.29,Information Security,No,C++,No,No,7,9,Other,0
9985,Solapur,21,Female,Skn Sinhgad College of Engineering,Computer Engineering,Fourth-year,9.14,Web Development,No,C++,No,Yes,7,10,Ex/Current Employee,1
9986,NaviMumbai,22,Female,Mahatma Gandhi Mission's College of Engineerin...,Computer Engineering,First-year,7.15,Data Science,No,Python,Yes,Yes,6,10,Other,0
9987,Kolhapur,21,Male,DY Patil College of Engineering And Technology,Computer Engineering,Fourth-year,8.90,RPA,No,HTML/CSS,Yes,No,6,8,Twitter,0
9988,Solapur,21,Female,Walchand Institute of Technology,Computer Engineering,Second-year,9.67,Data Science,No,.Net,No,No,6,8,Newspaper,0
9989,Solapur,19,Female,Bharat Ratna Indira Gandhi College of Engineering,Computer Engineering,Third-year,9.61,RPA,No,C++,Yes,Yes,10,9,Other,1
9990,Pune,21,Male,Sinhgad College of Engineering,Computer Engineering,Fourth-year,8.63,Information Security,Yes,.Net,No,Yes,9,6,Facebook,0
9991,Solapur,23,Male,Bharat Ratna Indira Gandhi College of Engineering,Computer Engineering,First-year,7.33,Machine Learning,Yes,JavaScript,No,Yes,8,8,Facebook,0
9992,Solapur,21,Male,Walchand Institute of Technology,Electrical Engineering,Fourth-year,9.17,Mobility,No,C#,No,No,6,7,Ex/Current Employee,0
9993,Mumbai,24,Female,St. Francis Institute of Technology,Computer Engineering,Third-year,9.04,Blockchain,Yes,C#,No,No,8,6,Twitter,0
9994,NaviMumbai,21,Male,Ramrao Adik Institute of Technology,Computer Engineering,Second-year,9.59,Blockchain,Yes,HTML/CSS,No,No,8,6,Blog post,0
9995,Sangli,19,Male,Rajarambapu Institute of Technology,Computer Engineering,Third-year,7.69,Machine Learning,Yes,JavaScript,Yes,Yes,9,9,Facebook,1
9996,Mumbai,21,Female,St. Francis Institute of Technology,Computer Engineering,Third-year,8.74,Cyber Security,No,PHP,Yes,Yes,7,7,Friend,1
9997,Kolhapur,22,Female,DY Patil College of Engineering And Technology,Electronics and Telecommunication,Second-year,8.52,IoT,Yes,C++,Yes,No,7,7,Newspaper,1
9998,Sangli,20,Female,Rajarambapu Institute of Technology,Computer Engineering,Fourth-year,9.22,Machine Learning,No,JavaScript,Yes,Yes,7,6,Blog post,0
9999,Solapur,21,Female,Brahmdevdada Mane Institute of Technology,Electrical Engineering,First-year,7.11,Cyber Security,No,C,No,No,6,10,Facebook,0

In [10]:
dcode=df

# Encoding Remaining Columns

In [11]:
dcode["City"]=dcode["City"].astype("category")
dcode["City"]=dcode["City"].cat.codes

In [12]:
dcode["Areas of interest"] = dcode["Areas of interest"].astype('category')
dcode["Areas of interest"] = dcode["Areas of interest"].cat.codes

In [13]:
dcode["Which-year are you studying in?"]=dcode["Which-year are you studying in?"].astype("category")
dcode["Which-year are you studying in?"]=dcode["Which-year are you studying in?"].cat.codes

In [14]:
dcode["Major/Area of Study"]=dcode["Major/Area of Study"].astype("category")
dcode["Major/Area of Study"]=dcode["Major/Area of Study"].cat.codes

In [15]:
dcode["Gender"]=dcode["Gender"].astype("category")
dcode["Gender"]=dcode["Gender"].cat.codes

In [16]:
dcode["College name"]=dcode["College name"].astype("category")
dcode["College name"]=dcode["College name"].cat.codes

In [17]:
dcode["Have you worked core Java"]=dcode["Have you worked core Java"].astype("category")
dcode["Have you worked core Java"]=dcode["Have you worked core Java"].cat.codes

In [18]:
dcode["Programming Language Known other than Java (one major)"]=dcode["Programming Language Known other than Java (one major)"].astype("category")
dcode["Programming Language Known other than Java (one major)"]=dcode["Programming Language Known other than Java (one major)"].cat.codes

In [19]:
dcode["Have you worked on MySQL or Oracle database"]=dcode["Have you worked on MySQL or Oracle database"].astype("category")
dcode["Have you worked on MySQL or Oracle database"]=dcode["Have you worked on MySQL or Oracle database"].cat.codes

In [20]:
dcode["Have you studied OOP Concepts"]=dcode["Have you studied OOP Concepts"].astype("category")
dcode["Have you studied OOP Concepts"]=dcode["Have you studied OOP Concepts"].cat.codes

In [21]:
dcode["Rate your written communication skills [1-10]"]=dcode["Rate your written communication skills [1-10]"].astype("category")
dcode["Rate your written communication skills [1-10]"]=dcode["Rate your written communication skills [1-10]"].cat.codes

In [22]:
dcode["Rate your verbal communication skills [1-10]"]=dcode["Rate your verbal communication skills [1-10]"].astype("category")
dcode["Rate your verbal communication skills [1-10]"]=dcode["Rate your verbal communication skills [1-10]"].cat.codes

In [23]:
dcode["How Did You Hear About This Internship?"]=dcode["How Did You Hear About This Internship?"].astype("category")
dcode["How Did You Hear About This Internship?"]=dcode["How Did You Hear About This Internship?"].cat.codes

In [24]:
dcode

,City,Age,Gender,College name,Major/Area of Study,Which-year are you studying in?,CGPA/ percentage,Areas of interest,Have you worked core Java,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],How Did You Hear About This Internship?,Label
0,0,19,1,5,1,2,7.26,0,1,4,1,0,0,4,8,0
1,3,22,0,22,2,1,8.73,3,1,6,0,1,4,1,1,1
2,1,24,1,21,1,1,8.61,9,1,1,0,0,2,0,8,0
3,5,20,0,3,0,2,7.96,7,0,6,0,1,3,0,8,0
4,4,23,0,12,1,0,7.07,3,0,7,0,1,2,0,2,0
5,4,20,1,12,1,1,9.35,12,1,6,1,0,0,1,8,0
6,5,20,0,17,2,3,8.31,13,1,6,1,0,4,1,2,1
7,0,21,0,2,2,3,9.21,5,0,3,0,1,3,3,6,1
8,1,20,1,18,0,1,9.91,13,0,3,1,1,3,4,7,1
9,0,22,1,5,2,1,7.48,9,1,0,0,1,4,4,0,0
10,2,21,0,10,0,0,7.25,10,0,7,1,0,2,4,4,0
11,2,21,1,14,1,2,7.27,2,0,5,0,0,4,1,6,0
12,4,21,0,12,0,1,8.27,14,0,6,1,0,2,0,7,0
13,5,23,1,3,0,1,8.70,7,0,4,0,1,4,1,6,1
14,2,24,0,0,1,1,7.75,6,1,4,0,1,2,2,8,1
15,5,21,0,3,0,2,8.84,1,0,7,1,0,4,1,8,1
16,2,19,1,14,0,1,9.21,13,0,2,1,1,3,0,7,0
17,4,21,1,12,0,1,9.82,15,0,5,0,1,3,1,4,1
18,5,19,0,3,0,1,9.88,15,0,1,1,0,0,4,1,0
19,0,24,0,2,1,0,8.40,13,0,0,1,1,0,2,5,0
20,4,23,0,12,0,0,8.56,4,0,1,0,0,1,2,7,0
21,4,20,1,12,0,0,7.57,2,0,4,1,1,4,0,3,0
22,3,19,1,16,0,0,8.44,3,1,5,0,1,0,0,8,0
23,5,22,1,1,2,3,8.61,1,1,7,0,1,2,2,2,1
24,4,23,1,12,0,1,9.53,4,1,1,0,0,4,2,2,1
25,4,21,1,12,0,0,7.22,10,1,0,1,0,3,3,1,0
26,4,21,0,12,0,2,9.33,10,0,0,0,0,1,4,6,1
27,2,23,0,10,0,1,9.86,0,0,0,0,0,0,4,6,0
28,1,22,0,7,2,2,7.53,4,0,7,0,1,3,3,4,1
29,1,22,0,7,0,3,9.56,6,1,2,1,0,2,3,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,4,19,0,12,1,3,7.49,10,1,4,1,0,0,1,2,0
9971,2,20,1,0,1,1,9.48,14,0,2,0,0,1,2,7,1
9972,5,20,1,3,0,2,7.98,1,0,7,1,0,3,1,6,1
9973,0,23,1,5,1,0,8.51,4,1,2,1,1,2,2,0,0
9974,4,20,0,12,0,1,9.26,11,0,4,0,1,0,4,4,0
9975,4,19,1,12,0,1,9.62,5,0,5,0,1,0,1,7,0
9976,0,23,1,5,0,3,8.96,0,1,5,0,1,1,1,4,1
9977,1,20,1,15,1,2,8.45,5,1,4,1,1,2,4,3,1
9978,2,20,1,9,1,0,7.45,3,1,6,1,0,3,1,2,0
9979,2,21,0,8,0,0,7.64,11,0,1,0,0,4,4,7,0
9980,2,22,1,14,2,2,9.21,11,0,0,0,0,1,2,0,1
9981,0,22,0,2,0,1,8.88,9,1,3,0,0,0,0,7,0
9982,1,19,1,21,0,2,7.29,15,1,0,1,0,4,2,8,0
9983,5,22,1,17,1,2,7.47,13,1,1,1,0,0,3,5,0
9984,3,21,0,22,0,0,7.29,8,0,3,0,0,1,3,7,0
9985,5,21,0,17,0,1,9.14,15,0,3,0,1,1,4,1,1
9986,2,22,0,9,0,0,7.15,5,0,7,1,1,0,4,7,0
9987,0,21,1,5,0,1,8.90,14,0,4,1,0,0,2,8,0
9988,5,21,0,23,0,2,9.67,5,0,0,0,0,0,2,6,0
9989,5,19,0,1,0,3,9.61,14,0,3,1,1,4,3,7,1
9990,3,21,1,16,0,1,8.63,8,1,0,0,1,3,0,2,0
9991,5,23,1,1,0,0,7.33,10,1,5,0,1,2,2,2,0
9992,5,21,1,23,1,1,9.17,11,0,2,0,0,0,1,1,0
9993,1,24,0,18,0,3,9.04,2,1,2,0,0,2,0,8,0
9994,2,21,1,14,0,2,9.59,2,1,4,0,0,2,0,0,0
9995,4,19,1,12,0,3,7.69,10,1,5,1,1,3,3,2,1
9996,1,21,0,18,0,3,8.74,4,0,6,1,1,1,1,3,1
9997,0,22,0,5,2,2,8.52,9,1,3,1,0,1,1,6,1
9998,4,20,0,12,0,1,9.22,10,0,5,1,1,1,0,0,0
9999,5,21,0,3,1,0,7.11,4,0,1,0,0,0,4,2,0

# Preprocessing and Splitting data

In [25]:
from sklearn import preprocessing
X = np.asarray(dcode[['City', 'Age', 'Gender', 'College name', 'Major/Area of Study', 'Which-year are you studying in?', 'CGPA/ percentage','Areas of interest','Have you worked core Java','Programming Language Known other than Java (one major)','Have you worked on MySQL or Oracle database','Have you studied OOP Concepts','Rate your written communication skills [1-10]','Rate your verbal communication skills [1-10]','How Did You Hear About This Internship?']])
y = np.asarray(dcode['Label'])
X = preprocessing.StandardScaler().fit(X).transform(X)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)

# SVM for calculating F1 score

In [30]:
from sklearn import svm
from sklearn.svm import SVC
from sklearn.metrics import jaccard_similarity_score

clf1 = svm.SVC(kernel='rbf')
clf1.fit(X_train, y_train) 
yhat2 = clf1.predict(X_test)
#jaccard_similarity_score(y_test, yhat2)
model = SVC(gamma='scale')

C:\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [28]:
from sklearn.metrics import f1_score
print("F1 Score is :",f1_score(y_test,yhat2))

F1 Score is : 0.9420654911838791